# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Editor Backups
*.bak
*.swp
*.swo
*~

# Logs
*.log

# Env / Secrets
.env
.env.local
.env.*.local
